@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
  /* Slideshow */

  .slideshow {
    margin: 0 auto;
    overflow: scroll;
    max-width: 100%;
  }

  .slideshowSlider {
    display: inline-flex;
    flex-wrap: no-wrap;
    /* 
    transition: ease 1000ms; */
  }

  .slide {
    display: inline-block;
  }

  /* Buttons */

  .slideshowDots {
    text-align: center;
  }

  .slideshowDot {
    display: inline-block;
    height: 14px;
    width: 14px;
    border-radius: 50%;

    cursor: pointer;
    margin: 15px 7px 0px;

    background-color: #c4c4c4;
  }

  .slideshowDot.active {
    background-color: #2d3253;
  }

  .img-container {
    display: flex;
    overflow-x: scroll;
    width: 100%;
  }

  .active {
    fill: #343a5a;
    group-active {
      font-weight: 500;
      color: 'yellow';
    }
  }

  @layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
        display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }
    }
  }
}
